# Ksyxis is a third-party mod for Minecraft Java Edition that
# speed ups your world loading by removing spawn chunks.
#
# MIT License
#
# Copyright (c) 2021-2025 VidTu
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.
#
# SPDX-License-Identifier: MIT

name: 'Build (Main)'
permissions: {}
on:
  push:
    branches: [ 'main' ]
jobs:
  main:
    name: 'Build (Main)'
    runs-on: 'ubuntu-24.04'
    timeout-minutes: 15
    permissions:
      contents: 'write'
    steps:
      - name: 'Checkout'
        timeout-minutes: 1
        uses: 'actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8' # v6.0.1
        with:
          persist-credentials: false
      - name: 'Setup JDK'
        timeout-minutes: 1
        uses: 'actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e' # v5.1.0
        with:
          java-version: 25
          distribution: 'temurin'
      - name: 'Setup Gradle'
        timeout-minutes: 5
        uses: 'gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2' # v5.0.0
        with:
          # Generate with either:
          # 1. Linux/macOS/Unix (OpenSSL): openssl rand -base64 32
          # 2. Linux/macOS/Unix: cat /dev/random | head -c32 | base64
          # 3. Windows (PowerShell): $bytes=New-Object byte[] 32;[Security.Cryptography.RandomNumberGenerator]::Create().GetBytes($bytes);[Convert]::ToBase64String($bytes)
          cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}
          dependency-graph: 'generate-and-submit'
      - name: 'Build (Main)'
        timeout-minutes: 15
        run: './gradlew assemble'
      - name: 'Upload'
        timeout-minutes: 5
        uses: 'actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f' # v6.0.0
        with:
          name: 'Artifacts'
          path: 'build/libs'
